<div class="container-fluid">

  <div class="row" *ngIf="!currentUser">

    <div class="col-lg-4" *ngFor="let post of loadedPosts.slice(9,12)">

      <div class="card">

        <img [src]="post.image" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">{{post.tittle}}</h5>
          <p class="card-text">{{post.body}}</p>

          <!--        <div class="card-body">-->



          <form #postForm="ngForm" (ngSubmit)="onCreateComment(postForm.value)">
            <div class="form-group">
              <label for="comment1"><span class="card-title font-weight-bold">Leave a Comment</span></label>
              <textarea class="form-control" id="comment1" rows="4" required ngModel name="comment"></textarea>

              <button class="btn btn-outline-primary  mt-2 mr-1" type="submit" >Post</button>
              <button class="btn btn-outline-warning  mt-2 mr-1" type="reset">Clear</button>
            </div>
          </form>




          <ul class="list-group">

            <li class="list-group-item mb-2" *ngFor="let comment of loadedComments" >
              <p>{{comment.comment}}</p>
            </li>
          </ul>

        </div>

      </div>
    </div>

    <div
      class="card-body card-footer ng-show alert alert-danger mt-4 text-center"
      role="alert"
      *ngIf="!currentUser"
    >
      You must be logged in to interact with other users and post comments!
    </div>
  </div>


  <div class="row" *ngIf="currentUser">

    <div class="col-lg-4" *ngFor="let post of loadedPosts.slice(6,9)">


      <img [src]="post.image" class="card-img-top" alt="...">
      <hr>
      <h5 class="card-title">{{post.tittle}}</h5>
      <hr>
      <p class="card-text">{{post.body}}</p>
      <hr>

      <form #postForm="ngForm" (ngSubmit)="onCreateCommentByPostId(post.id, postForm.value)">
        <div class="form-group">

          <label for="comment"><span class="card-title font-weight-bold">Leave a Comment</span></label>
          <textarea class="form-control" id="comment" rows="4" required ngModel name="comment"></textarea>


          <button class="btn btn-outline-primary  mt-2 mr-1" type="submit">Post</button>
          <button class="btn btn-outline-warning  mt-2 mr-1" type="reset">Clear</button>
        </div>
      </form>

      <hr>

      <h6 class="card-subtitle"> Comments</h6>

      <!-- per post id 7-->
      <div *ngFor="let comment of loadedCommentsByPostId7 " class="card-text">
        <div *ngIf="comment.posts.id === post.id " class="card-text">
          <p class="card-body card-text small ">{{comment.comment}}</p>
          <div class="card-text small text-sm-right">
            <i><a class="card-text " [routerLink]="['/profile']">{{currentUser.username}}
            </a></i>
            <span class="date-posted">
                <i>{{ comment.createdDate | date: 'longDate' }}</i>
            </span>
          </div>
          <button class="btn btn-sm btn-outline-danger mt-2 mb-2" type="submit" *ngIf="currentUser.username === comment.posts.users.fullName" (click)="onDelete(comment.id)">
            Delete
          </button>
        </div>
      </div>

      <!-- per post id 8-->
      <div *ngFor="let comment of loadedCommentsByPostId8 " class="card-text">
        <div *ngIf="comment.posts.id === post.id " class="card-text">
          <p class="card-body card-text small ">{{comment.comment}}</p>
          <div class="card-text small text-sm-right">
            <i><a class="card-text " [routerLink]="['/profile']">{{currentUser.username}}
            </a></i>
            <span class="date-posted">
                <i>{{ comment.createdDate | date: 'longDate' }}</i>
            </span>
          </div>
          <button class="btn btn-sm btn-outline-danger mt-2 mb-2" type="submit" *ngIf="currentUser.username === comment.posts.users.fullName" (click)="onDelete(comment.id)">
            Delete
          </button>
        </div>
      </div>


      <!-- per post id 9-->
      <div *ngFor="let comment of loadedCommentsByPostId9 " class="card-text">
        <div *ngIf="comment.posts.id === post.id " class="card-text">
          <p class="card-body card-text small ">{{comment.comment}}</p>
          <div class="card-text small text-sm-right">
            <i><a class="card-text " [routerLink]="['/profile']">{{currentUser.username}}
            </a></i>
            <span class="date-posted">
                <i>{{ comment.createdDate | date: 'longDate' }}</i>
            </span>
          </div>
          <button class="btn btn-sm btn-outline-danger mt-2 mb-2" type="submit" *ngIf="currentUser.username === comment.posts.users.fullName" (click)="onDelete(comment.id)">
            Delete
          </button>
        </div>
      </div>


    </div>

  </div>


  <div class="row">
    <!-- Footer and Copyright Part -->
    <div id="footer">
      <div class="container text-center">
        <p class="font-italic text-muted mb-0">&copy; Copyrights Selfmade.com All rights reserved.</p>
      </div>
      <div class="linke">
        <ul type="">
          <li><a href="http://www.plus.google.com"><img class="image-container" src="assets/img/linkeg.jpg" alt=""/></a>
          </li>
          <li><a href="http://www.picasa.google.com"><img class="image-container" src="assets/img/linkep.jpg"
                                                          alt=""/></a></li>
          <li><a href="http://www.twitter.com"><img class="image-container" src="assets/img/linket.jpg" alt=""/></a>
          </li>
          <li><a href="http://www.facebook.com"><img class="image-container" src="assets/img/linkef.jpg" alt=""/></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>

