<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">

      <div class="card">
        <img src="assets/img/photography/img1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Riots in Albania</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
        <div class="card-body" id="respond">

          <form action="api/public/comment" method="post" id="commentform">

            <div class="form-group">
              <label for="exampleFormControlTextarea1"><h6 class="card-title">Leave a Comment</h6></label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
              <button class="btn btn-primary" type="submit">Post Comment</button>
            </div>
          </form>

        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="#" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="#" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="#" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>
</div>

https://getbootstrap.com/docs/4.5/components/card/

