<br>
<br>
<div class="container pt5">
  <div class="row" *ngIf="!currentUser">

    <div class="col-lg-4" *ngFor="let post of loadedPosts.slice(9,12)">

      <div class="card">

        <img [src]="post.image" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">{{post.tittle}}</h5>
          <p class="card-text">{{post.body}}</p>

          <!--        <div class="card-body">-->



          <form #postForm="ngForm" (ngSubmit)="onCreateComment(postForm.value)">
            <div class="form-group">
              <label for="comment1"><span class="card-title font-weight-bold">Leave a Comment</span></label>
              <textarea class="form-control" id="comment1" rows="4" required ngModel name="comment"></textarea>

              <button class="btn btn-outline-primary  mt-2 mr-1" type="submit" >Post</button>
              <button class="btn btn-outline-warning  mt-2 mr-1" type="reset">Clear</button>
            </div>
          </form>




          <ul class="list-group">

            <li class="list-group-item mb-2" *ngFor="let comment of loadedComments" >
              <p>{{comment.comment}}</p>
            </li>
          </ul>

        </div>

      </div>
    </div>

    <div
      class="card-body card-footer ng-show alert alert-danger mt-4 text-center"
      role="alert"
      *ngIf="!currentUser"
    >
      You must be logged in to interact with other users and post comments!
    </div>
  </div>


  <div class="row" *ngIf="currentUser">

    <div class="col-lg-4" *ngFor="let post of loadedPosts.slice(9,12)">


      <img [src]="post.image" class="card-img-top" alt="...">
      <hr>
      <h5 class="card-title">{{post.tittle}}</h5>
      <hr>
      <p class="card-text">{{post.body}}</p>
      <hr>

      <form [formGroup]="commentForm" (ngSubmit)="onCreateCommentByPostId(post.id)">
        <div class="form-group">

          <label for="message1"><span class="card-title font-weight-bold">Leave a Comment</span></label>
          <textarea class="form-control" id="message1" formControlName="message1"  placeholder="Message"></textarea>

          <label for="author"></label>
          <input
            class="form-control"
            id="author"
            type="text"
            hidden
            [(ngModel)]="currentUser.username"
            formControlName="author"
          >


          <button class="btn btn-outline-primary  mt-2 mr-1" type="submit">Post</button>
          <button class="btn btn-outline-warning  mt-2 mr-1" type="reset">Clear</button>
        </div>
      </form>
      <hr>

      <h6 class="card-subtitle"> Comments</h6>

      <!-- per post id 10-->
      <div *ngFor="let comment of loadedCommentsByPostId10 " class="card-text">
        <div *ngIf="comment.posts.id === post.id " class="card-text">
          <hr>
          <p class="card-body card-text small ">{{comment.comment}}</p>
          <div class="card-text small text-sm-right">
            <i class="card-text" > {{comment.author}}
            </i>
            <span class="date-posted">
                <i>{{ comment.createdDate | date: 'longDate' }}</i>
            </span>
          </div>

          <div *ngIf="currentUser.roles == 'ROLE_ADMIN'; else other">
            <button class="btn btn-sm btn-outline-danger mt-2 mb-2" type="submit"  (click)="onDelete(comment.id)">
            Delete
          </button>
          </div>

          <ng-template #other><button class="btn btn-sm btn-outline-danger mt-2 mb-2" type="submit" *ngIf="currentUser.username === comment.author" (click)="onDelete(comment.id)">
            Delete
          </button></ng-template>

        </div>
      </div>

      <!-- per post id 11-->
      <div *ngFor="let comment of loadedCommentsByPostId11 " class="card-text">
        <div *ngIf="comment.posts.id === post.id " class="card-text">
          <hr>
          <p class="card-body card-text small ">{{comment.comment}}</p>
          <div class="card-text small text-sm-right">
            <i class="card-text" > {{comment.author}}
            </i>
            <span class="date-posted">
                <i>{{ comment.createdDate | date: 'longDate' }}</i>
            </span>
          </div>

          <div *ngIf="currentUser.roles == 'ROLE_ADMIN'; else other">
            <button class="btn btn-sm btn-outline-danger mt-2 mb-2" type="submit"  (click)="onDelete(comment.id)">
              Delete
            </button>
          </div>

          <ng-template #other><button class="btn btn-sm btn-outline-danger mt-2 mb-2" type="submit" *ngIf="currentUser.username === comment.author" (click)="onDelete(comment.id)">
            Delete
          </button>
          </ng-template>
        </div>
      </div>


      <!-- per post id 12-->
      <div *ngFor="let comment of loadedCommentsByPostId12" class="card-text">
        <div *ngIf="comment.posts.id === post.id " class="card-text">
          <hr>
          <p class="card-body card-text small ">{{comment.comment}}</p>
          <div class="card-text small text-sm-right">
            <i class="card-text" > {{comment.author}}
            </i>
            <span class="date-posted">
                <i>{{ comment.createdDate | date: 'longDate' }}</i>
            </span>
          </div>

          <div *ngIf="currentUser.roles == 'ROLE_ADMIN'; else other">
            <button class="btn btn-sm btn-outline-danger mt-2 mb-2" type="submit"  (click)="onDelete(comment.id)">
              Delete
            </button>
          </div>

          <ng-template #other><button class="btn btn-sm btn-outline-danger mt-2 mb-2" type="submit" *ngIf="currentUser.username === comment.author" (click)="onDelete(comment.id)">
            Delete
          </button>
          </ng-template>
        </div>
      </div>

    </div>
    <div class="container pt-5 position-static">
      <div class="row row-cols-lg-1 row-cols-lg-2 row-cols-lg-3 ">
        <div class="col col-1"></div>
        <div class="col col-2">
          <form class="form-group">
            <input class="form-control" type="search" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}"
                   (keydown.backspace)="onKeydown($event)" (input)="search()" placeholder="Search Comment"
                   aria-label="Search">
          </form>
        </div>
        <div class="col col-3"></div>
      </div>
    </div>
  </div>


    <!-- Footer and Copyright Part -->
  <div class="row py-5">
    <div id="footer">
      <div class="container text-center">
        <p class="font-italic text-muted mb-0">&copy; Copyrights Selfmade.com All rights reserved.</p>
      </div>
      <div class="linke">
        <ul type="">
          <li><a href="http://www.plus.google.com"><img class="image-container" src="assets/img/linkeg.jpg" alt=""/></a>
          </li>
          <li><a href="http://www.picasa.google.com"><img class="image-container" src="assets/img/linkep.jpg"
                                                          alt=""/></a></li>
          <li><a href="http://www.twitter.com"><img class="image-container" src="assets/img/linket.jpg" alt=""/></a>
          </li>
          <li><a href="http://www.facebook.com"><img class="image-container" src="assets/img/linkef.jpg" alt=""/></a>
          </li>
        </ul>
      </div>
    </div>
  </div>


</div>

