<div class="container-fluid pt-5" >
  <div class="row">

    <div class="row row-cols-md-1 row-cols-md-2 row-cols-md-3">
      <!-- NEWS-->
      <div class="col-1">

        <div class="col mb-4" *ngFor="let post of loadedPosts.slice(0,3)">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{post.tittle}}</h5>
              <p class="card-text" style="height: 100px">{{post.body}}</p>
              <img [src]="post.image" class="card-img-top" alt="..." (click)="getPostNewsDetails()" style="cursor: pointer">
            </div>
          </div>
        </div>

      </div>

      <!--      POPNEWS-->
      <div class="col-2">

        <div class="col mb-4" *ngFor="let post of loadedPosts.slice(6,9)">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{post.tittle}}</h5>
              <p class="card-text" style="height: 100px">{{post.body}}</p>
              <img [src]="post.image" class="card-img-top" alt="..." (click)="getPostPopNewsDetails()" style="cursor: pointer">
            </div>
          </div>
        </div>

      </div>

      <!--      SPORT NEWS-->
      <div class="col-3">

        <div class="col mb-4" *ngFor="let post of loadedPosts.slice(9,12)">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{post.tittle}}</h5>
              <p class="card-text" style="height: 100px">{{post.body}}</p>
              <img [src]="post.image" class="card-img-top" alt="..." (click)="getPostSportDetails()" style="cursor: pointer">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Footer and Copyright Part -->
  <div class="row py-5">

    <div id="footer">
      <div class="container text-center">
        <p class="font-italic text-muted mb-0">&copy; Copyrights Selfmade.com All rights reserved.</p>
      </div>
      <div class="linke">
        <ul type="">
          <li><a href="http://www.plus.google.com"><img class="image-container" src="assets/img/linkeg.jpg" alt=""/></a>
          </li>
          <li><a href="http://www.picasa.google.com"><img class="image-container" src="assets/img/linkep.jpg"
                                                          alt=""/></a></li>
          <li><a href="http://www.twitter.com"><img class="image-container" src="assets/img/linket.jpg" alt=""/></a>
          </li>
          <li><a href="http://www.facebook.com"><img class="image-container" src="assets/img/linkef.jpg" alt=""/></a>
          </li>
        </ul>
      </div>
    </div>
  </div>


</div>

